<!doctype html>
<html xmlns:th="http://www.timeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RestAPI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .content {
            display: none;
        }

        .nav-tabs .nav-link {
            border: 1px solid transparent;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }

        .nav-tabs .nav-link.active {
            color: #495057;
            background-color: #fff;
            border-color: #dee2e6 #dee2e6 #fff;
        }

        .tab-content {
            border: 1px solid #dee2e6;
            border-top: none;
            padding: 1rem;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="height: 60px">
        <div class="container-fluid">
            <div class="navbar-brand p-4" >
                <span style="font-weight: bold" id="emailUserAuth" >example@mail.ru</span>
                <span id="rolesUserAuth"> info_roles </span>
            </div>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-link" style="text-decoration: none; color:gray; font-weight:500;">
                    Logout
                </button>
            </form>
        </div>
    </nav>
</header>

<div class="container-fluid" style="margin-top: 15px;">
    <div class="row">
        <div class="col-2 sidebar">
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <button type="button" class="btn btn-outline-primary w-100 text-start" id="adminButton" style="border: none;"
                        data-target="#adminModal">Admin
                </button>
            </div>
            <div>
                <button type="button" class="btn btn-outline-primary w-100 text-start" id="userButton" style="border: none;"
                        data-target="#userModal">User
                </button>
            </div>
        </div>
        <div class="col-10">
            <div id="adminModal" class="content">
                <h1>Admin panel</h1>

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="users-table-tab"
                                data-bs-toggle="tab" data-bs-target="#users-table"
                                type="button" role="tab">Users table</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="new-user-tab"
                                data-bs-toggle="tab" data-bs-target="#new-user"
                                type="button" role="tab">New User</button>
                    </li>
                </ul>
<!--                Контент для ADMIN - список всех пользователей, с возможностью удаления и изменения данных-->
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="users-table"
                         role="tabpanel" aria-labelledby="users-table-tab">
                        <h5 class="p-6">All users</h5>
                        <table id = "users-table-place" class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
<!--Модальное окно для удаления пользователя-->
                    <div class="modal fade" id="userDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-modal="true" role="dialog" data-bs-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" >Delete user</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="text-align: center; margin: 0 auto; width: 50%; font-weight: bold">
                                    <form id="formDeleteUser">
                                        <div class="mb-3">
                                            <label for="deleteUserID" class="form-label">ID</label>
                                            <input type="number" class="form-control form-control-sm" id="deleteUserID" disabled>
                                        </div>
                                        <div class="mb-3">
                                            <label for="deleteUsername" class="form-label">First name</label>
                                            <input type="text" class="form-control form-control-sm" id="deleteUsername" disabled>
                                        </div>
                                        <div class="mb-3">
                                            <label for="deleteLastname" class="form-label">Last name</label>
                                            <input type="text" class="form-control form-control-sm" id="deleteLastname" disabled>
                                        </div>
                                        <div class="mb-3">
                                            <label for="deleteUserAge" class="form-label">Age</label>
                                            <input type="number" class="form-control form-control-sm" id="deleteUserAge" disabled>
                                        </div>
                                        <div class="mb-3">
                                            <label autocomplete="off" for="deleteUserEmail" class="form-label">Email address</label>
                                            <input type="email" class="form-control" id="deleteUserEmail" disabled>
                                        </div>
                                        <div>
                                            <label for="deleteUserRole" class="form-label">Role</label>
                                            <select name="userRoles" class="form-select" size="2" multiple aria-label="multiple select example"
                                                    id="deleteUserRole" required>
                                                <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                                                <option value="ROLE_USER">ROLE_USER</option>
                                            </select>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                                            <button type="submit" class="btn btn-danger" id="confirmDeleteBtn">Delete</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
<!--Модальное окно для изменения данных о пользователе-->
                    <div class="modal fade" id="userEditModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-modal="true" role="dialog" data-bs-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" >Edit user</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="text-align: center; margin: 0 auto; width: 50%; font-weight: bold">
                                    <form id="formEditUser" >
                                        <label for="editUserID" class="form-label">ID</label>
                                        <input name="id" type="number" class="form-control form-control-sm" id="editUserID" disabled>

                                        <label for="editUsername" class="form-label">First name</label>
                                        <input name="name" type="text" class="form-control form-control-sm" id="editUsername" required>

                                        <label for="editUserLastname" class="form-label">Last name</label>
                                        <input name="lastname" type="text" class="form-control form-control-sm" id="editUserLastname">

                                        <label for="editUserAge" class="form-label">Age</label>
                                        <input name="age" type="number" class="form-control form-control-sm" id="editUserAge">

                                        <label autocomplete="off" for="editUserEmail" class="form-label">Email address</label>
                                        <input name="email" type="email" class="form-control" id="editUserEmail" required>

                                        <label autocomplete="off" for="editUserPassword" class="form-label">Password</label>
                                        <input name="password" type="password" class="form-control form-control-sm"
                                               id="editUserPassword"  required>

                                        <label for="editUserRoles" class="form-label">Role</label>
                                        <select name="userRoles" class="form-select" size="2" multiple aria-label="multiple select example"
                                                id="editUserRoles" required>
                                            <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                                            <option value="ROLE_USER">ROLE_USER</option>
                                        </select>

                                        <div id="editErrorMessage" class="alert alert-danger my-3" style="display: none;"></div>
                                        <div class="modal-footer">
                                            <button type="button" data-bs-dismiss="modal" class="btn btn-secondary"> Close </button>
                                            <button type="submit" class="btn btn-primary" id="confirmEditBtn"> Edit </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
<!--Добавление нового пользователя-->
                    <div class="tab-pane fade" id="new-user" role="tabpanel" aria-labelledby="new-user-tab">
                        <h5 class="p-6">Add new user</h5>
                        <div class="container" style="text-align: center; margin: 0 auto; width: 30%; font-weight: bold">
                            <form method="POST" action="/api/users" id="formNewUser">

                                    <label for="inputUsername" class="form-label">First name</label>
                                    <input name="name" type="text" class="form-control form-control-sm" id="inputUsername" required>

                                    <label for="inputLastname" class="form-label">Last name</label>
                                    <input name="lastname" type="text" class="form-control form-control-sm" id="inputLastname">

                                    <label for="inputAge" class="form-label">Age</label>
                                    <input name="age" type="number" class="form-control form-control-sm" id="inputAge">

                                    <label for="inputEmail" class="form-label">Email address</label>
                                    <input name="email" type="email" class="form-control" id="inputEmail" required>

                                    <label for="inputPassword" class="form-label">Password</label>
                                    <input name="password" type="text" class="form-control form-control-sm" id="inputPassword" required>

                                    <label for="inputRole" class="form-label">Role</label>
                                <select name="userRoles" class="form-select" size="2" multiple aria-label="multiple select example"
                                        id="inputRole" required>
                                    <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                                    <option value="ROLE_USER">ROLE_USER</option>
                                </select>

                                    <div id="error-message" class="alert alert-danger my-3" style="display: none;"></div>

                                <button type="submit" class="btn btn-success" style="margin-top: 20px;">
                                    Add new user
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="userModal" class="content" >
                <h1>User information-page</h1>

                <div style="border: 1px solid #dee2e6;">
                    <h5 style="padding-left: 20px; padding-top: 10px;">About user</h5>
                    <hr>
                    <div class="p-3">
                        <table id = "authUserTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity=" sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
</script>
<script src="app.js"></script>
<script src="../static/jquery-3.7.1.min.js"></script>
</body>
</html>