<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <table border="1">
        <tr>
            <th> </th>
            <th> Name </th>
            <th> Lastname </th>
            <th> Email </th>
            <th> Ege </th>
            <th>  </th>
        </tr>
        <tr th:each="user : ${users_list}">
            <td><p><a th:href="@{/update_user(id=${user.getId()})}"><img src="https://i.postimg.cc/Fs7fRMt8/tool-pencil-icon-259637.jpg" width="20" height="20"></a></p></td>
            <td th:utext="${user.getName()}"></td>
            <td th:utext="${user.getLastname()}"></td>
            <td th:utext="${user.getEmail()}"></td>
            <td th:utext="${user.getAge()}"></td>
            <td><p><a th:href="@{/delete(id=${user.getId()})}"><img src="https://i.postimg.cc/rpt3wFgs/tool-scissor-cut-scissors-icon-259593.jpg" width="20" height="20"></a></p></td>
        </tr>
    </table>
    <a href="/add_user">Создать нового пользователя</a>
</div>
</body>
</html>