<!DOCTYPE html>
<html xmlns:th="http://www.timeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{update_user/update}" th:object="${user}">
    <input type="hidden" th:name="id" th:value="${id}">
    <input type="hidden" th:name="password" th:value="*{password}">
    <div th:if="${error}" th:text="${error}"></div>
    <input type="text" placeholder="Имя" th:field="*{name}">
    <div th:if="${noLogin}" th:text="${noLogin}"></div>
    <input type="text" placeholder="Фамилия" th:field="*{lastname}">
    <input type="text" placeholder="Email" th:field="*{email}">
    <input type="text" placeholder="Возраст" th:field="*{age}">
    <div>
        <h3>Роли</h3>
        <div th:each="role : ${userRoles}">
            <input type="checkbox" th:name="uRoles" th:value = "${role}" th:text="${role.name()}" >
        </div>
    </div>
    <div th:if="${notRolesError}" th:text="${notRolesError}"></div>
    <br/>
    <input type="submit" value="Сохранить">
</form>
</body>
</html>