<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <table border="1">
        <tr>
            <th> Name </th>
            <th> Lastname </th>
            <th> Email </th>
            <th> Ege </th>
        </tr>
        <tr th:object="${user}">
            <td th:utext="${user.getName()}"></td>
            <td th:utext="${user.getLastname()}"></td>
            <td th:utext="${user.getEmail()}"></td>
            <td th:utext="${user.getAge()}"></td>
        </tr>
    </table>
</div>
</body>
</html>